@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6ohsvk');
  src:  url('fonts/icomoon.eot?6ohsvk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6ohsvk') format('truetype'),
    url('fonts/icomoon.woff?6ohsvk') format('woff'),
    url('fonts/icomoon.svg?6ohsvk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cost-rules:before {
  content: "\e900";
}
